*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background-color: #CFd8DC;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  height: 750px;
  background-color: #455A64;
}

header {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

h1 {
 color: #fff;
 padding: 5%;
 font-size: 5.5rem;
}

form {
  height: 60%;
  width: 85%;
  margin: 0 auto;
}

.form__input {
  width: 100%;
  height: 130px;
  margin: 0 0 60px;
  font-size: 5rem;
  padding: 20px;
  border: 3px solid #c8cacc;
}

.form__input::placeholder {
  color: #bbbdbf;
}

#form__btn-submit {
  width: 100%;
  background-color: #ffc107;
  height: 112px;
  color: #fff;
  font-size: 3rem;
}

#form__btn-submit:hover {
  background-color: #ffd773;
}

#image__logo {
  height: 67px;
}

