html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #CFd8DC;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100vw;
}
/*MOBILE FIRST CSS FORM RULES*/
main {
  background-color: #455A64;
  top: 0;
  width: 100%;
}

header {
  margin: 0px auto;
  text-align: center;
  width: 100%;
}

h1 {
 color: #fff;
 font-size: 1.5rem;
 padding: 5%;
}

#image__logo {
  height: 20px;
}

form {
  margin: 0 auto;
  width: 85%;
}

.form__input {
  border: 1.5px solid #c8cacc;
  font-size: 1.8rem;
  height: 55px;
  margin: 0 0 20px;
  padding: 12px;
  width: 100%;
}

.form__input::placeholder {
  color: #bbbdbf;
}

#form__btn-submit {
  background-color: #ffc107;
  color: #fff;
  font-size: 1.4rem;
  height: 45px;
  margin: 0 0 18px;
  width: 100%;
}

#form__btn-submit:hover {
  background-color: #ffd773;
}






