@media screen and (min-width: 410px) {
  h1 {
    font-size: 2.5rem;
  }

  #image__logo {
  height: 30px;
}
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 4rem;
  }

  #image__logo {
    height: 49px;
  }
}

@media screen and (min-width: 760px) {
  main {
    display: inline-flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
  }

  #section-bookmark-list {
    float: right;
    width: 46vw;
    height: 100vh;
    margin: auto;
    overflow-y: scroll;
    position: relative;
    z-index: -1;
    margin-top: -27px;
    padding-top: 21px;
  }

  #section-counter {
    width: 50vw;
  }

  .bookmark {
    width: 92%;
  }

  h1 {
    font-size: 5.9vw;
  }

  #image__logo {
    height: 4.5vw;
  }
}

@media screen and (min-width: 1010px) {
  
  /*#image__logo {
    height: 37px;
  }*/
}

@media screen and (min-width: 1200px) {

}
